.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-image: url('/assets/background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.loading-header {
  margin-bottom: 40px;
}

.loading-header p {
  margin: 0;
  line-height: 1.4;
}

.loading-animation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 350px; /* Ajout d'une largeur maximale pour le contrôle */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les éléments de la liste */
}

.loading-animation li {
  margin-bottom: 15px;
  font-size: clamp(0.9rem, 1.4vw, 1.1rem);
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%; /* S'assurer que le li prend toute la largeur du ul */
}

.loading-animation li .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 15px;
  text-align: center;
  line-height: 18px;
  color: transparent;
  transition: all 0.3s ease;
}

.loading-animation li.active {
  opacity: 1;
}

.loading-animation li.active .checkmark {
  border-color: white;
}

.loading-animation li.completed {
  opacity: 1;
}

.loading-animation li.completed .checkmark {
  background-color: #4CAF50; /* Vert pour indiquer le succès */
  border-color: #4CAF50;
  color: white;
}

.loading-animation li.pending {
  opacity: 0.3;
}
